/* Réinitialiser les marges et les paddings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*police et couleur principale des textes*/
body{
    font-family:"Montserrat", sans-serif;
    color:black;
}
/*Largeur maximale des éléments et centrage du container*/
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/*toutes les class text-center sont centrées*/
.text-center{
    text-align: center;
}
/*display flex sur toutes les row et passage d'un élément en dessous quand la largeur dépasse 100%*/
.row{
    display: flex;
    flex-wrap: wrap;
}
/*on définit l'espace occupé par chaque colonne des classes .col*/

.col-25{
    width:25%;
}    
.col-33{
    width:33%;
}
.col-50{
    width: 50%;
}
.col-100{
    width:100%;
}
/*les marges*/
.mt-200{
    margin-top: 200px;
}
.mt-100{
    margin-top: 100px;
}
.mt-75{
    margin-top: 75px;
}
.mt-50{
    margin-top: 50px;
}
.mt-25{
    margin-top: 25px;
}

/*on définit taille des titres et police*/
h1{
    font-family: "Libre Bodoni", serif;
    font-size: 42px;
}
h2{
    font-family: "Libre Bodoni", serif;
    font-size: 32px;
}
/*on définit taille et couleur des titres*/
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}
.color-blue{
    color: #5988E5;
}

/*Barre de navigation*/
.navbar-container{
    width:100%;
    padding : 12px 0 12px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 55px;
}
.group-logo{
    margin-left: 20px;
}
.logo{
    height: 28px;
}
/* Style de base pour l'en-tête */
.nav-list {
    display: flex;
    list-style: none;
  /*  justify-content: center;*/
    margin: 0;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background: #333;
    margin: 4px 0;
}

.cta{
    margin-left: 80px;
}
.btn{
    padding:12px 24px;
    border-right: 1px solid;
    align-items: center;
    border-color: white;
}
.btn-connexion{
    margin-right: 20px;
    padding:12px 24px;
    letter-spacing: 2px;
    border: 1px solid;
    background-color: #FFFFFF1C;
    border-color:#5988E5;
    border-radius: 24px;
    color:#5988E5;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.btn-connexion:hover{
    opacity: 0.7;
}

/*Page bannière*/
.banner-container{
    justify-content: space-between;
    width:100%;
}
.banner-title{
    width:530px;
    margin-top: 150px;
    margin-left: 160px;
    gap: 16px;
}
.banner-img{
    margin-top: 150px;
}
/*style des boutons*/
.btn-demo{
    text-decoration: none;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #0B0D17;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}
.btn-demo:hover {
  background: #F6F9FE;
  color: #0B0D17;
}
.btn-demo:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.btn-demo:focus {
  outline: none;
  border: 2px solid #0B0D17;
}
.transfer-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 130px;
    margin-left: 160px;
}

/*image de fond*/
.header-image { 
    margin-top: -890px;
    width: auto; 
    max-width: 100%;
    height: 1200px;
    background: url('images/image-banner.png'); 
    background-size: cover; /* Ajuste la taille de l'image pour couvrir le conteneur */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

/*Animation des drapeaux*/
.flags{
    overflow: hidden;
    margin-top: 48px;
}
.float-startLeft {
    float: left !important;
}
.float-startRight {
    float: Right !important;
}
@keyframes infiniteScrollHi-Lo {
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px - 50% - 30px));}
  }
@keyframes infiniteScrollMed{
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px + 50% + 30px));}
}
.horizontal-scrolling-itemsHi-Lo {
    display: flex;
    gap: 60px;
    animation-name: infiniteScrollHi-Lo;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 10px 0!important;
}
.horizontal-scrolling-itemsMed {
    display: flex;
    gap: 60px;
    animation-name: infiniteScrollMed;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 10px 0!important;
}
.horizontal-scrolling-items__group {
    display: flex;
    width: 1440px;
    gap: 50px; 
  }
.horizontal-scrolling-items__group__item {
    background-size: cover;
    width: 70px;
    height: 21px;
  }
.item_1 {
    background-image: url("images/ARS.png");
} 
.item_2 {
    background-image: url("images/AUD.png");
}
.item_3 {
    background-image: url("images/BRL.png");
}
.item_4 {
    background-image: url("images/EGP.png");
}
.item_5 {
    background-image: url("images/EUR.png");
}
.item_6 {
    background-image: url("images/ZAR.png");
} 
.item_7 {
    background-image: url("images/VND.png");
} 
.item_8 {
    background-image: url("images/INR.png");
}
.item_9 {
    background-image: url("images/MUR.png");
}
.item_10 {
    background-image: url("images/SEK.png");
}
.item_11 {
    background-image: url("images/JPY.png");
}
.item_12 {
    background-image: url("images/KES.png");
}
.item_13 {
    background-image: url("images/TWD.png");
}
.item_14 {
    background-image: url("images/TRY.png");
}
.item_15 {
    background-image: url("images/USD.png");
} 
.item_16 {
    background-image: url("images/PLN.png");
}
.item_17 {
    background-image: url("images/LBP.png");
}
.item_18 {
    background-image: url("images/NZD.png");
}
.item_19 {
    background-image: url("images/UYU.png");
}
.item_20 {
    background-image: url("images/JOD.png");
} 
.item_21 {
    background-image: url("images/NGN.png");
} 
.item_22 {
    background-image: url("images/SGD.png");
}
.item_23 {
    background-image: url("images/KHR.png");
}
.item_24 {
    background-image: url("images/JMD.png");
}
.item_25 {
    background-image: url("images/LBP.png");
}
.item_26 {
    background-image: url("images/MGA.png");
}
.item_27 {
    background-image: url("images/GHS.png");
}
.item_28 {
    background-image: url("images/GBP.png");
}
.item_29 {
    background-image: url("images/CAD.png");
}
.item_30 {
    background-image: url("images/AOA.png");
}
.item_31 {
    background-image: url("images/PGK.png");
}
.item_32 {
    background-image: url("images/RON.png");
}
.item_33 {
    background-image: url("images/TZS.png");
}
.item_34 {
    background-image: url("images/ILS.png");
}
.item_35 {
    background-image: url("images/LKR.png");
}
.item_36 {
    background-image: url("images/MXN.png");
}
.item_37 {
    background-image: url("images/MAD.png");
}
.item_38 {
    background-image: url("images/DKK.png");
}
.item_39 {
    background-image: url("images/THB.png");
}
.item_40 {
    background-image: url("images/COP.png");
}
.item_41 {
    background-image: url("images/BWP.png");
}
.item_42 {
    background-image: url("images/BGN.png");
}

/*section engagements*/
.background-engagements { 
    width: 100%; 
    height: 280px;
    background-image: linear-gradient(180deg,#E7EDFD,#FFFFFF);
}
.titre-engagements{
    margin-top: -350px;
}
.container-engagements{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    display: flex;
}
.container-gif-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:600x 600px 600px;
    justify-items: center;
    align-items: center;
    column-gap: 50px;
}

/*on place les éléments dans la grille*/

.box-money{
    grid-column: 1/2;
}
.box-text-money{
    grid-column: 2/3;
}
.box-dollar{
    grid-column: 2/3;
    grid-row: 2;
}
.box-text-dollar{
    grid-column: 1/2;
    grid-row: 2;
}
.box-shield{
    grid-column: 1/2;
    grid-row: 3;
}
.box-text-shield{
    grid-column: 2/3;
    grid-row: 3;
}
.text-engagements{
    width:435px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
ul { 
    list-style-position: inside;
    text-align: left;
} 
ul li{
   text-indent: -20px;
   padding-left: 20px;
   line-height: 1.5;
}
ul li::marker { 
    color: #D3DDF0; /* Couleur des points */ 
    font-size: 24px;
}

/*Section ONG*/
.container-title-ONG{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.bloc-ONG{
    align-items: center;
    width:100%;
    justify-content: center;
}
.img-ONG{
    margin-right: 48px;
}
.text-ONG{
    direction: rtl;
    width: 600px;
    height: 608px;
    overflow-y: scroll;
    text-align: left;
}

/* Personnalisation de la barre de défilement pour les navigateurs Webkit (Chrome, Safari) */ 
.text-ONG::-webkit-scrollbar { 
    width: 20px; /* Largeur de la barre de défilement */ 
} 
.text-ONG::-webkit-scrollbar-thumb { 
    background-color: #5988E5;
    border-radius: 10px; 
    width: 20px;
} 
.text-ONG::-webkit-scrollbar-track { 
    background: white;
} 
/* Personnalisation de la barre de défilement pour Firefox */ 
.text-ONG { 
    scrollbar-width: large; 
    scrollbar-color: #5988E5 white;
} 
.text-ONG h1{
    margin-left: 48px;
}
.text-ONG p{
    margin-left: 48px;
    direction: ltr;
}

/*Section contact*/
.background-contact { 
    width: 100%; 
    height: 280px;
    background-image: linear-gradient(360deg,#E7EDFD,#FFFFFF);
}
.img-background-inversee{
    width: 100%;
    height: 880px;
    background-image: url("images/image-inversee.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-contact{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    height: 465px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    margin-top: -1000px;
    border-image: linear-gradient(to bottom, #5988E5, #E7E8EB)1;
}
.form-grid{
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows:40px 40px 40px;
    gap:100px;
}
/*on définit la place du label par rapport au champs*/
.mp-label{
    display: flex;
    flex-direction: column;/*on place la label au dessus du champs*/
    align-items: flex-start;/*on aligne le label et le champs sur la gauche du conteneur*/
}
label{
    color: black;
}

/*on place les éléments dans la grille*/
.box-nom{
    grid-column: 1/2;
}
.box-prenom{
    grid-column: 2/3;
}
.box-tel{
    grid-column: 1/2;
    grid-row: 2;
}
.box-mail{
    grid-column: 2/3;
    grid-row: 2;
}
.box-raison{
    grid-column: 1/3;
    grid-row: 3;
}
input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid;
    border-color:black;
    font-size: 20px;
    width:100%;
}

/*style des boutons*/
.btn-contact{
    text-decoration: none;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #0B0D17;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 3rem;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}
.btn-contact:hover {
  background: #F6F9FE;
  color: #0B0D17;
}
.btn-contact:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.btn:focus {
  outline: none;
  border: 2px solid #0B0D17;
}
.mp-bouton{
    margin-top: 32px;
    display:flex;
    justify-content:center;
}
.form-control{
    color : red
}
.form-control small{
    visibility: hidden;
    margin-top: 5px;
}
.form-control.error input{
    border-color: #e73c3c;
}
.form-control.error small{
    border-color: #e73c3c;
    visibility: visible;
}

/*Footer*/
.container-footer{
    background-color: #D3DDF0;
    height: 270px;
    width: 100%;
    margin-top: 265px;
    opacity: 100%;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows:80px 80px 80px;
    row-gap:10px;
}
.box-logo{
    grid-column: 1/2;
}
.box-disclaimer{
    grid-row: 2;
    grid-column: 1/2;
}
.box-copyright{
    grid-row: 3;
    grid-column: 1/2;
}
.box-legal{
    grid-column: 2/3;
}
.box-infos{
    grid-row: 1/3;
    grid-column: 3/4;
}

.group-logo-footer{
    margin-left: 35px;
    margin-top: 16px;
}
.logo-footer{
    height: 28px;
}
.legal{
    margin-top: 24px;
    margin-right: 16px;
}
.legal ul li{
    margin: 0;
    padding: 0;
}
.mentions{
    text-decoration: none;
    color: black;
    line-height: 3;
}
.disclaimer{
    font-size: 12px;
    width: 90%;
    margin-left:35px;
    margin-top: 15px;
}
.copyright{
    margin-top: 36px;
    margin-left: 35px;
}
.infos-impayrium{
    margin-top: 40px;
    margin-right: 35px;
    border-left: 1px solid;
    border-color: #5988E5;
    padding-left: 35px;
}
.title-contact{
    font-weight: 600;
}
.align-icon{
    display: flex;
    align-items: center;
}
.icon{
    float: left;
}
.email{
    margin-left: 16px;
    text-decoration: none;
    color:black;
}
.adress{
    margin-left: 16px;
}
/*Page charte*/
.background-valeurs{
    width: 100%; 
    height: 900px;
    background-image: linear-gradient(180deg,#E7EDFD,#FFFFFF);
}
.nuage-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -750px;
    width:600px;
}
.valeurs-title{
    margin-top: -640px;
    width:600px;
    margin-left: auto;
    margin-right: auto;
}
.valeurs-text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.objectif-title{
    margin-top: 240px;
}
.gouvernance{
    width : 600px;
}
.img-rse {
    border-top-left-radius: 15px; /* Rayon du coin supérieur gauche */
    border-top-right-radius: 15px; /* Rayon du coin supérieur droit */
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
}
.text-flags{
    margin-left: 15px;
    margin-right: 15px;
}
.container-engagements{
    width: 100%;
    justify-content: space-around;
}
.container-flag{
    width: 348px;
    height:400px;
    border: 1px solid;
    border-color: #5988E5;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg,#E7EDFD,#FFFFFF);
}

/*première page responsive à 1380px, on passe le screenshot sous le titre*/
@media (max-width:1380px){
    .banner-container{
        display: block;
        text-align: center;
    }
    .banner-title{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-image{
        margin-top: -980px;
    }
    .banner-img{
        margin-top:32px;
        width: 100%;
    }
    .transfer-title{
        margin-top: 32px;
        text-align: center;
        margin-left: 0;
    }
}

/*footer responsive, modif de l'agencement contacts et mentions à partir de 1280px*/
@media (max-width: 1280px){
    .container-footer{
        height: 400px;
        margin-top: 235px;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:50px 150px 50px 30px;
        row-gap:20px;
        column-gap: 50px;
    }
    .infos-impayrium{
        border: none;
    }
    .box-logo{
        grid-column: 1/2;
    }
    .box-disclaimer{
        grid-row: 3;
        grid-column: 1/3;
    }
    .box-copyright{
        grid-row: 4;
        grid-column: 1/2;
    }
    .box-legal{
        grid-row: 2;
        grid-column: 2/3;
    }
    .box-infos{
        grid-row: 2;
        grid-column: 1/2;
    }
    .legal{
        margin-top: 24px;
    }
    .group-logo-footer{
        margin-top: 25px;
    }
    .infos-impayrium{
        margin-top: 40px;
        border: none;
    }
    .copyright{
        margin-top: 50px;
    }
}
/*responsive page charte containers images/textes à partir de 1045px*/
@media(max-width:1045px){
.container-flag{
    margin-top: 25px;
    }
}


/* Page engagements responsive on passe les textes sous les gif à 925px*/
@media (max-width: 925px){

    .container-engagements{
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        display: flex;
    }
    .container-gif-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:600x 600px 600px 600px 600px 600px;
        justify-items: center;
        align-items: center;
        column-gap: 0px;
    }
    /*on place les éléments dans la grille*/
    .box-money{
        grid-column: 1/2;
    }
    .box-text-money{
        grid-row: 2;
        grid-column: 1/2;
    }
    .box-dollar{
        grid-column: 1/2;
        grid-row: 3;
    }
    .box-text-dollar{
        grid-column: 1/2;
        grid-row: 4;
    }
    .box-shield{
        grid-column: 1/2;
        grid-row: 5;
    }
    .box-text-shield{
        grid-column: 1/2;
        grid-row: 6;
    }
}
/* Menu responsive à partir de 980px*/
@media (max-width: 980px) {
    .menu-toggle {
        display: flex;
        margin-right: 20px;
    }
    .btn-connexion{
        display: none;
    }
    .nav-list {
        flex-direction: column;
        background:black;
        position: absolute;
        top: 60px;
        width: 100%;
        display: none;
    }
    .nav-list li {
        text-align: center;
        margin: 10px 0;
    }
    .nav-list li a {
        color: white;
    }
    .nav-list.show {
        display: flex;
    }
    .cta{
        margin-left: 0;

    }
    .btn{
        padding:0px 0px;
        border: none;
    }
    
}
/*formulaire responsive à partir de 805px*/
@media(max-width : 805px){
    .container-contact{
        height:auto;
        width: 375px;
    }
    .form-grid{
        display: grid;
        grid-template-columns: 340px;
        grid-template-rows:40px 40px 40px 40px 40px;
        row-gap: 50px;
    }
    .box-nom{
        grid-row:1;
        grid-column: 1/2;
    }
    .box-prenom{
        grid-row:2;
        grid-column: 1/2;
    }
    .box-tel{
        grid-column: 1/2;
        grid-row: 3;
    }
    .box-mail{
        grid-column: 1/2;
        grid-row: 4;
    }
    .box-raison{
        grid-column: 1/2;
        grid-row: 5;
    }
    input{
        background-color: transparent;
        border:none;
        border-bottom: 1px solid;
        border-color:black;
        font-size: 20px;
        width:100%;
    }
    

}
/* Footer responsive à partir de 760px*/
@media(max-width : 760px){
    .container-footer{
        height: 650px;
        margin-top: 235px;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:50px 150px 150px 50px 30px;
        row-gap:20px;
    }
    .box-logo{
        grid-row: 1;
        grid-column: 1;
    }
    .box-disclaimer{
        grid-row: 4;
        grid-column: 1;
    }
    .box-copyright{
        grid-row: 5;
        grid-column: 1;
    }
    .box-legal{
        grid-row: 3;
        grid-column: 1;
    }
    .box-infos{
        grid-row: 2;
        grid-column: 1;
    }
    .group-logo-footer{
        margin-left: 15px;
    }
    .mentions{
        margin-left: 15px;
    }
    .disclaimer{
        width: 90%;
        margin-left:15px;
        margin-right: 15px;
    }
    .copyright{
        margin-top: 75px;
        margin-left: 15px;
    }
    .infos-impayrium{
        margin-left: 15px;
        padding-left: 0;
    }
}

/*screenshot responsive à partir de 600px*/
@media(max-width : 600px){
    .screenshot{
        width: 370px;
        height:auto;
    }
    .container-title-ONG{
        width: 350px;
    }
    .text-ONG{
        width: 350px;
    }
    .img-ONG{
        margin-right: 0;
    }
    .bureau-ONG{
        width: 360px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .text-engagements{
        width:360px;
    }
    .gif{
        width: 360px;
        height: auto;
    }
    /*Page charte*/
    .nuage-title{
        width:360px;
        margin-top: -800px;
    }
    .valeurs-title{
        width:370px;
        margin-top: -350px;
    }
    .container-flag{
        margin-top: 25px;
    }
    .objectif-title{
        margin-top: 150px;
    }
}

/*titre accueil responsive à partir de 545px*/
@media(max-width : 545px){
    /*on définit taille des titres et police*/
h1{
    font-size: 36px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 16px;
}

.container-engagements{
    width: 100%;
}
.banner-title{
    width:370px;
}
.transfer-title{
    font-size: 22px;
}

}
