/* Réinitialiser les marges et les paddings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Montserrat", sans-serif;/*police utilisée*/
    color:#0B0D17;/*couleur de base du texte*/
}

.menu{
    display: flex;
}
.container{
    max-width: 1440px;/*la class container ne dépassera pas 1440px si on agrandit l'écran*/
    margin: 0 auto;/*les éléments restent centrés*/
}
.text-center{
    text-align: center;/*toutes les class text-center sont centrées*/
}
.row{
    display: flex;/*déclare display  flex sur tous les .row*//*active le modèle de boîte flexible (flexbox), qui permet de disposer les éléments enfants d'un conteneur de manière flexible et réactive.*/
    flex-wrap: wrap;/*permet de faire descendre un élément si tous les éléments représentent plus de 100% de la taille de l'écran*/
}
/*on empêche le header de chevaucher les titres*/
section{
    padding-top: 20px;
}
/*on définit l'espace occupé par chaque colonne*/
.col-50{
    width: 50%;
}
.col-25{
    width:25%;
}
/*les marges*/
.mt-100{/*crée une marge de 100 pixels en haut*/
    margin-top: 100px;
}
.mt-50{/*crée une marge en haut de 50 pixels"*/
    margin-top: 50px;
}
/*les couleurs*/
.color-gold{
    color: #D5D53D;
}
/*on définit taille des titres*/
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;/*on utilise rem plutôt que px pour le responsive*/
}
/*on définit taille et couleur des titres*/
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.3rem;
}

/* Style de base pour l'en-tête */

/* La barre de navigation */
.navbar {
    background-color: white;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 4.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    position: fixed;
    margin-right: auto;
    margin-left:auto;
    z-index: 1000;/*la navbar se place au dessus des autres éléments, les liens sont toujours clicquables*/
}
.navbar-container{
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    max-width: 90rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-bottom:3px solid;
    border-image: linear-gradient(to right, #D5D53D 33%,#0B0D17) 1;
}
.logo{
    height:40px;
    object-fit: cover;
    margin-right: 20px;
}
.brand-name{
    height:25px;
    object-fit: cover;
}
.group-logo{
    display: flex;
    align-items: center;
}
/* Style du menu */
.menu ul {
    list-style: none;
    display: flex;
}
/* Espacement des liens du menu */
.menu ul li {
    margin-left: 100px;
}
/* Style des liens */
.menu ul li a {
    text-decoration: none;/*retire le surlignage des liens*/
    color:#0B0D17;
    font-weight: bold;
}
.cta{
    gap:20px;
}
/*style du bouton*/
.inscription{
    width:135px;
    height:45px;
    background-color:#D5D53D;
    border-radius: 25px;
    color:#0B0D17;/*couleur de la police*/
    font-weight: bold;
    padding: 0.5em 1em;/*padding en hauteur et en largeur*/
    border: none;
    font-size: 16px; /* Taille de la police */
    cursor: pointer;/*déclenche l'effet au passage de la souris*/
    transition: opacity 0.2s ease;/*on applique un transition pour l'effet visuel qui suit*/
}
.connexion{
    width:135px;
    height:45px;
    background-color:#0B0D17;
    border: 2px solid;
    border-color:#D5D53D ;
    border-radius: 25px;
    color:#D5D53D;/*couleur de la police*/
    font-weight: bold;
    padding: 0.5em 1em;/*padding en hauteur et en largeur*/
    font-size: 16px; /* Taille de la police */
    cursor: pointer;/*déclenche l'effet au passage de la souris*/
    transition: opacity 0.2s ease;/*on applique un transition pour l'effet visuel qui suit*/

}
/*le bouton s'assombrit quand on passe la souris dessus*/
button:hover{
    opacity: 0.7;
}
/* Style du menu burger (caché par défaut) */
.burger {
    display: none;/*cache le menu burger*/
    flex-direction: column;
    cursor: pointer;
}
.burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

.background-arrow {
    object-fit: cover;
    width: 60%;
    height:500px;
    float: right;
    margin-top: 10em;
}
.text-banner{
    margin-top: 200px;
    align-items: center;
    margin-left: 50px;
    width:500px;
}
#banner h1 a{
    text-decoration: none;
    color:#0B0D17;
    transition: opacity 0.2s ease;/*on applique un transition pour l'effet visuel qui suit*/
}
#banner h1 a:hover{
    opacity:0.6;
}
.taille-text-accueil{
    font-size: 25px;
}
.flags{
    overflow: hidden;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #D5D53D 33%,#0B0D17) 1;
}
.float-startLeft {
    float: left !important;
}
.float-startRight {
    float: Right !important;
}
@keyframes infiniteScrollHi-Lo {
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px - 50% - 30px));}
  }
@keyframes infiniteScrollMed{
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px + 50% + 30px));}
}
.horizontal-scrolling-itemsHi-Lo {
    display: flex;
    gap: 60px;
    animation-name: infiniteScrollHi-Lo;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 10px 0!important;
}
.horizontal-scrolling-itemsMed {
    display: flex;
    gap: 60px;
    animation-name: infiniteScrollMed;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 10px 0!important;
}
.horizontal-scrolling-items__group {
    display: flex;
    width: 1440px;
    gap: 50px; 
  }
.horizontal-scrolling-items__group__item {
    background-size: cover;
    width: 70px;
    height: 21px;
  }
.item_1 {
    background-image: url("/images/ARS.png");
} 
.item_2 {
    background-image: url("/images/AUD.png");
}
.item_3 {
    background-image: url("/images/BRL.png");
}
.item_4 {
    background-image: url("/images/EGP.png");
}
.item_5 {
    background-image: url("/images/EUR.png");
}
.item_6 {
    background-image: url("/images/ZAR.png");
} 
.item_7 {
    background-image: url("/images/VND.png");
} 
.item_8 {
    background-image: url("/images/INR.png");
}
.item_9 {
    background-image: url("/images/MUR.png");
}
.item_10 {
    background-image: url("/images/SEK.png");
}
.item_11 {
    background-image: url("/images/JPY.png");
}
.item_12 {
    background-image: url("/images/KES.png");
}
.item_13 {
    background-image: url("/images/TWD.png");
}
.item_14 {
    background-image: url("/images/TRY.png");
}
.item_15 {
    background-image: url("/images/USD.png");
} 
.item_16 {
    background-image: url("/images/PLN.png");
}
.item_17 {
    background-image: url("/images/LBP.png");
}
.item_18 {
    background-image: url("/images/NZD.png");
}
.item_19 {
    background-image: url("/images/UYU.png");
}
.item_20 {
    background-image: url("/images/JOD.png");
} 
.item_21 {
    background-image: url("/images/NGN.png");
} 
.item_22 {
    background-image: url("/images/SGD.png");
}
.item_23 {
    background-image: url("/images/KHR.png");
}
.item_24 {
    background-image: url("/images/JMD.png");
}
.item_25 {
    background-image: url("/images/LBP.png");
}
.item_26 {
    background-image: url("/images/MGA.png");
}
.item_27 {
    background-image: url("/images/GHS.png");
}
.item_28 {
    background-image: url("/images/GBP.png");
}
.item_29 {
    background-image: url("/images/CAD.png");
}
.item_30 {
    background-image: url("/images/AOA.png");
}
.item_31 {
    background-image: url("/images/PGK.png");
}
.item_32 {
    background-image: url("/images/RON.png");
}
.item_33 {
    background-image: url("/images/TZS.png");
}
.item_34 {
    background-image: url("/images/ILS.png");
}
.item_35 {
    background-image: url("/images/LKR.png");
}
.item_36 {
    background-image: url("/images/MXN.png");
}
.item_37 {
    background-image: url("/images/MAD.png");
}
.item_38 {
    background-image: url("/images/DKK.png");
}
.item_39 {
    background-image: url("/images/THB.png");
}
.item_40 {
    background-image: url("/images/COP.png");
}
.item_41 {
    background-image: url("/images/BWP.png");
}
.item_42 {
    background-image: url("/images/BGN.png");
}
.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 250px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin-left:27em;
    margin-top: -22em;
    width: 1200px;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: #0B0D17;
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px #D5D53D;
    -moz-box-shadow: 0px 5px 5px 0px #D5D53D;
    box-shadow: 0px 5px 5px 0px #D5D53D;
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-carousel h3 a{
    text-decoration: none;
    color:#0B0D17;
    transition: opacity 0.2s ease;
  }
  .card-carousel h3 a:hover{
    opacity: 0.6;
  }
  .card.highlight {
    filter: brightness(1)
  }
  .card:nth-of-type(1) .image-container {
    background-image: url("images/pexels-savvas-stavrinos-270619-814544.png");
  }
  .card:nth-of-type(2) .image-container {
    background-image: url("images/pexels-kwaku-griffin-14554004.png")
  }
  .card:nth-of-type(3) .image-container {
    background-image: url("images/pexels-theshantanukr-16564254.png")
  }
  .card:nth-of-type(4) .image-container {
    background-image: url("images/pexels-debraj-6534325.png")
  }
  .card:nth-of-type(5) .image-container {
    background-image: url("images/pexels-bentonphotocinema-1095602.png")
  }
  .image-container {
    width: 10em;
    height: 10em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px #D5D53D;
    -moz-box-shadow: inset 0px 0px 17px 0px #D5D53D;
    box-shadow: inset 0px 0px 17px 0px #D5D53D;
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px #D5D53D;
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }
  
.align-ong{
    align-items: center;
}
.img-ong{
    border-radius: 3em;
    box-shadow: white -5px 5px, #D5D53D -10px 10px, #D5D53D -15px 15px;
}
.bloc-text-ong{
    width:600px;
    height:400px;
    overflow: scroll;
    scrollbar-width: thin;
}
.container-infos{
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height:30em;
    width:75em;
    border-radius: 30px;
    background-color: #0B0D17;
    box-shadow: white -5px 5px, hsl(60, 64%, 54%) -10px 10px, #D5D53D -15px 15px;
   /* border:2px solid;*/
   /* border-image: linear-gradient(to right, #D5D53D 33%,#0B0D17) 1*/
}
.titres-infos{
    color:white;
}
.menu-infos{
    float:right;
    margin-top: 2em;
    width:40em;
}
.btn-infos{
    width:5em;
    height:2em;
    background-color:#0B0D17;
    box-shadow: #D5D53D 0px 1px 0 0;
    border:none;
    margin-right: 1em;
    color:white;/*couleur de la police*/
    padding: 0.5em 1em;/*padding en hauteur et en largeur*/
    font-size: 1.5em; /* Taille de la police */
    cursor: pointer;/*déclenche l'effet au passage de la souris*/
    transition: opacity 0.2s ease;/*on applique un transition pour l'effet visuel qui suit*/
}
.bloc-img-infos{
    width:500px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:1em;

}
.img-infos-style{
    height:20em;
    border-radius: 2em;
}
.img-infos-cours {
    background-image: url("images/pexels-savvas-stavrinos-270619-814544.png");
}
.img-infos-securite {
    background-image: url("images/pexels-theshantanukr-16564254.png")
}
.img-infos-tarifs {
    background-image: url("images/pexels-debraj-6534325.png")
}
.img-infos-time {
    background-image: url("images/pexels-bentonphotocinema-1095602.png")
}
.text-infos-style{
    color: white;
    float:right;
}
